// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #395170;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #3b3f44;
$off-white: #f7f8f9;
$ice: #79a5ea;
$glass: #dae1ed;
