---
title: Le Wagon - Middleman
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>berlin</h1>
    <p>visit the museum island<br>UNESCO world heritage site</p>
    <a class="btn btn-primary btn-lg">>>get tickets now<<</a>
  </div>
</div>
<p></p>
<p></p>
<p></p>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/copenhagen');">
        <div class="card-category">Copenhagen</div>
        <div class="card-description">
          <h2>Ahazadora em CPH</h2>
          <p>Destruidora mesmo</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/Eddie2012">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/london');">
        <div class="card-category">London</div>
        <div class="card-description">
          <h2>Apaguem as luzes</h2>
          <p>e busquem conhecimento</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/jolham1985">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/tokyo');">
        <div class="card-category">Tokyo</div>
        <div class="card-description">
          <h2>Pura riqueza na horizontal</h2>
          <p>Linda, loira e japonesa</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/darkarraylord">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>

