<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Team page!</title>
</head>
<body>
  <ul class="list-inline text-center">
  <% ["Eddie2012"].each do |gh_username| %>
    <li>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle" %>
      <h3><%= gh_username.capitalize %></h3>
    </li>
  <% end %>
</ul>
</body>
</html>
